* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom right, #a7aca5, #8aa085);
}

.container {
  height: 100vh;
}
.doNext {
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.237);
  height: 90%;
  background-color: white;
}
.left_panel {
  background-color: #f5f5f588;
}
.right_panel {
  background-color: #f5f5f588;
}
.tasks span,
.lists span {
  background-color: #adb0ac42;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0px 8px;
  border-radius: 8px;
}
.tasks > div:hover {
  transition: 0.4s;
  background-color: #a7aca54f;
}
.lists {
  max-height: 25%;
  overflow: auto;
}
.lists::-webkit-scrollbar {
  display: none;
}
.lists p {
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  background-color: rgb(249, 75, 32);
}
.add_list input {
  outline: none;
  border: none;
  background-color: transparent;
}
.center_heading .btn {
  background-color: #a7aca5;
  color: white;
  max-height: 2rem;
}
