* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tasks span,
.lists span {
  background-color: #adb0ac42;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0px 8px;
  border-radius: 8px;
}

.lists::-webkit-scrollbar {
  display: none;
}
.lists p {
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  background-color: rgb(249, 75, 32);
}
.add_list input {
  outline: none;
  border: none;
  background-color: transparent;
}
.center_heading .btn {
  background-color: #a7aca5;
  color: white;
  max-height: 2rem;
}
