* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.product_section,
.cart_section {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  padding: 1rem;
}
.product,
.cart_item {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 10px;
}
